<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cleaning Service Completion - Glänsande Hem</title>
  </head>
  <body>
    <p>We are pleased to inform you that our cleaning service has been
      successfully completed. We trust that you will soon enjoy the refreshing
      cleanliness and sparkle it brings to your home.</p>

    <p>Kindly proceed with the payment at your earliest convenience by visiting
      your
      <a href="{{profileLink}}">profile page</a>
      where you will find the payment button.</p>

    <p>Should you encounter any difficulties or require further assistance
      regarding the payment process, please do not hesitate to reach out to us
      via email or phone call.</p>

    <p>Thank you for choosing our services. We look forward to serving you again
      in the future. Best wishes in advance for enjoying a clean sparkling home.</p>

    <p>Glänsande Hem Städ<br />
      Org. No. 890114-4751<br />
      Holds F tax<br />
      VAT reg. No. SE890114475101</p>
  </body>
</html>