<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cleaning Service Completion - Gl채nsande Hem</title>
  </head>
  <body>

    <div
      style="background-color: #020a38; width: 100%; height: 100px; text-align:center"
    >
      <img
        src="https://res.cloudinary.com/diar6ua4t/image/upload/v1711527040/header_dwuawy.png"
        alt="Gl채nsande Hem Footer Logo"
        height="100%"
      />
    </div>

    <p>We are pleased to inform you that our cleaning service has been
      successfully completed. We trust that you will soon enjoy the refreshing
      cleanliness and sparkle it brings to your home.</p>

    <div style="text-align: center;">
      <p>Kindly proceed with the payment at your earliest convenience by
        visiting your
        <a
          href="{{profileLink}}"
          style="color: #007bff; text-decoration: underline;"
        >profile page</a>
        where you will find the payment button.
      </p>
      <a
        href="{{profileLink}}"
        style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; margin-top: 10px;"
      >Make Payment</a>
    </div>

    <p>Should you encounter any difficulties or require further assistance
      regarding the payment process, please do not hesitate to reach out to us
      via email or phone call.</p>

    <p>Thank you for choosing our services. We look forward to serving you again
      in the future. Best wishes in advance for enjoying a clean sparkling home.</p>

    <footer style="background-color: #eee; padding: 10px; text-align: center;">
      <p>Gl채nsande Hem St채d<br />
        Org. No. 890114-4751<br />
        Holds F tax<br />
        VAT reg. No. SE890114475101
      </p>
    </footer>

    <div style="background-color: #020a38; width: 100%; height: 100px;" />
  </body>
</html>