<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Confirmation - Glänsande Hem</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 20px;
      background-color: #f5f5f5; } h1, h2 { margin: 10px 0; color: #333; } p {
      margin: 5px 0; line-height: 1.5; } a { color: #3aa99e; text-decoration:
      none; } a:hover { text-decoration: underline; } .booking-details { border:
      1px solid #ddd; padding: 10px; margin: 15px 0; } .booking-details li {
      margin-bottom: 5px; }
    </style>
  </head>
  <body>

    <div
      style="background-color: #020a38; width: 100%; height: 100px; text-align:center"
    >
      <img
        src="https://res.cloudinary.com/diar6ua4t/image/upload/v1711527040/header_dwuawy.png"
        alt="Glänsande Hem Footer Logo"
        height="100%"
      />
    </div>
    <h1>Congratulations on a great purchase!</h1>
    <p>We are pleased to inform you that your booking has been confirmed. You're
      now officially a member of Glänsande Hem. We're thrilled to have you join
      our community and we look forward to providing you with exceptional
      service.</p>

    <p>Please see your booking details below:</p>
    <h2>Booking Details</h2>
    <div class="booking-details">
      <ul>
        <li>Service: House cleaning</li>
        <li>Booking date and time: {{bookingDateTime}}</li>
        <li>Booking frequency: {{bookingFrequency}}</li>
      </ul>
    </div>

    <p><strong>Upcoming bookings:</strong>
      You will be notified by automatic email four days prior to the next
      booking date.</p>

    <p><strong>Additional booking information:</strong>
      Rebooking and cancellation are free of charge up to 4 days before the
      cleaning. You can easily cancel your booking directly in our website user
      panel or contact us via chat or email.</p>

    <p><strong>Note:</strong>
      If you want to reschedule your booking date, you can call
      <a href="tel:0761525840">0761525840</a>
      or email us at
      <a href="mailto:support@glansandehem.se">support@glansandehem.se</a>.</p>

    <footer style="background-color: #eee; padding: 10px; text-align: center;">
      <p>Glänsande Hem Städ<br />
        Org. No. 890114-4751<br />
        Holds F tax<br />
        VAT reg. No. SE890114475101</p>
      <p>To see the payment details & complete the payment please log in to the
        user panel on our website
        <a href="https://www.glansandehem.se">www.glansandehem.se</a>. You will
        receive a payment notification email from
        <a href="mailto:admin@glansandehem.se">admin@glansandehem.se</a>
        after completing the service.</p>
    </footer>

    <div style="background-color: #020a38; width: 100%; height: 100px;"></div>
  </body>
</html>