<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Confirmation - Gl채nsande Hem</title>
  </head>
  <body>
    <h1>Congratulations on a great purchase!</h1>
    <p>We are pleased to inform you that your booking has been confirmed. You're
      now officially a member of Gl채nsande Hem. We're thrilled to have you join
      our community and we look forward to providing you with exceptional
      service.</p>

    <p>Please see your booking details below:</p>
    <h2>Booking Details</h2>
    <div class="booking-details">
      <ul>
        <li>Service: House cleaning</li>
        <li>Booking date and time: {{bookingDateTime}}</li>
        <li>Booking frequency: {{bookingFrequency}}</li>
      </ul>
    </div>

    <p><strong>Upcoming bookings:</strong>
      You will be notified by automatic email four days prior to the next
      booking date.</p>

    <p><strong>Additional booking information:</strong>
      Rebooking and cancellation are free of charge up to 4 days before the
      cleaning. You can easily cancel your booking directly in our website user
      panel or contact us via chat or email.</p>

    <p><strong>Note:</strong>
      If you want to reschedule your booking date, you can call
      <a href="tel:0761525840">0761525840</a>
      or email us at
      <a href="mailto:support@glansandehem.se">support@glansandehem.se</a>.</p>

    <p>Gl채nsande Hem St채d<br />
      Org. No. 890114-4751<br />
      Holds F tax<br />
      VAT reg. No. SE890114475101</p>

    <p>To see the payment details & complete the payment please log in to the
      user panel on our website
      <a href="https://www.glansandehem.se">www.glansandehem.se</a>. You will
      receive a payment notification email from
      <a href="mailto:admin@glansandehem.se">admin@glansandehem.se</a>
      after completing the service.</p>
  </body>
</html>