<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Glänsande Hem</title>
  </head>
  <body>

    <div
      style="background-color: #020a38; width: 100%; height: 100px; text-align:center"
    >
      <img
        src="https://res.cloudinary.com/diar6ua4t/image/upload/v1711527040/header_dwuawy.png"
        alt="Glänsande Hem Footer Logo"
        height="100%"
      />
    </div>
    <h1>Welcome to Glänsande Hem</h1>
    <p>Dear {{userName}},</p>
    <p>We are delighted to inform you that your registration was successful:</p>
    <p>Here are your login credentials:</p>
    <ul>
      <li>Email: {{email}}</li>
      {{#if password}}
        <li>Password: {{password}}</li>
      {{/if}}
    </ul>
    {{#if password}}
      <p>We have received your booking details. Our team will contact you as
        soon as possible and will confirm your booking.</p>
    {{/if}}
    <p>To get started, please take some time to explore our website. Here,
      you'll discover a range of features and benefits designed to enhance your
      experience. If you have any questions or require assistance, our support
      team is here to help. Feel free to reach out at any time. You are always
      welcome to call
      <a href="tel:0761525840">0761525840</a>
      or email us at
      <a href="mailto:support@glansandehem.se">support@glansandehem.se</a>.</p>
    <p>Thank you for choosing Glänsande Hem. We value your trust and are
      committed to ensuring your satisfaction.</p>

    <footer style="background-color: #eee; padding: 10px; text-align: center;">
      <p>Glänsande Hem Städ<br />
        Org. No. 890114-4751<br />
        Holds F tax<br />
        VAT reg. No. SE890114475101
      </p>
    </footer>

    <div style="background-color: #020a38; width: 100%; height: 100px;" />
  </body>
</html>