<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header style="background-color: #fff; padding: 15px;">
      <img src="https://res.cloudinary.com/diar6ua4t/image/upload/v1711527040/header_dwuawy.png" alt="Glänsande Hem Logo" width="100%" height="150px"  />  
    </header>

    <div>
      <h3>Next Schedule Date Update</h3>

      <p>Dear {{userName}},</p>

      <p>We wanted to inform you about an update regarding your next cleaning
        schedule with
        <strong>{{companyName}}</strong>.</p>

      <p>Your next cleaning session is now scheduled for:
        <strong>{{nextCleaningDate}}</strong>.</p>

      <p>Glänsande Hem Städ<br />
        Org. No. 890114-4751<br />
        Holds F tax<br />
        VAT reg. No. SE890114475101</p>
    </div>
     <footer style="background-color: #eee; padding: 10px; text-align: center;">
      <p>Glänsande Hem Städ<br />
        Org. No. 890114-4751<br />
        Holds F tax<br />
        VAT reg. No. SE890114475101
      </p>
      <img src="https://res.cloudinary.com/diar6ua4t/image/upload/v1711527062/footer_tcoo6z.png" alt="Glänsande Hem Footer Logo" width="100%" height="100px"  />  
    </footer>
  </body>
</html>