<html>
  <body>
    <h3>Welcome to {{companyName}}, {{userName}}!</h3>

    <p>You have been successfully signed in using email: {{userEmail}}.</p>

    <p>Best regards,<br />The {{companyName}} Team</p>
  </body>
</html>